@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Della+Respira&family=Indie+Flower&family=Langar&family=Roboto:wght@500&display=swap');

.bodyMain {
  background-image: url(../images/purpleuniverse.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question {
  margin-top: 25%;
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  text-shadow: 0px 0px 25px white;
}

.div-answer {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
}

.button {
  margin-top: 10%;
  margin-bottom: 15%;
  width: 45%;
  font-size: 1.4em;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #281646;
  box-shadow:  0px 0px 10px rgb(119, 119, 119);
  font-family: 'Sniglet', cursive;
}

.div-footer {
  margin-top: 10%;
  text-align: center;
  color: #faeff1;
  font-family: 'Roboto', 'sans-serif';
  bottom: 0;
  position: absolute;
}

@media screen and (min-width: 812px) {
  .question {
    font-size: 4.5em;
  }

  .button {
    font-size: 2em;
    line-height: 50px;
    width: 25%;
  }

  .div-footer {
    font-size: 1em;
  }
}
